.contenedor{
	background-image: url('galaxia.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
}

.contenedor h1{
	color: #fff;
	font-family: helvetica;
	font-size: 45px;
	margin-left: 27%;
	margin-top: 10%;
	position: absolute;
	transition: 1s;
}

.contenedor h2{
	color: #fff;
	font-family: helvetica;
	font-size: 25px;
	margin-left: 37%;
	margin-top: 15%;
	position: absolute;
	transition: 1s;
}

.contenedor audio{
	margin-left: 38%;
	margin-top: 19%;
	position: absolute;
}


.contenedor h1:hover{
	cursor: pointer;
	transition: 1s;
	transform: translate(0px,-10px);
}

.contenedor h2:hover{
	cursor: pointer;
	transition: 1s;
	transform: translate(0px,10px);
}

.navegacion ul{
	background:black;
}

.navegacion li{
	display: inline;
}

.navegacion a{
	color: white;
}